/* $This file is distributed under the terms of the license in LICENSE$ */

@charset "UTF-8";
/* CSS Document */

:root {
  --primary-color: #210d41;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  height: 100%; /* needed for container min-height */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  height: auto !important; /* real browsers */
  height: 100%; /* IE6: treaded as min-height*/
  min-height: 100%; /* real browsers */
  margin: 0 auto;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color) !important;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

#individual-intro span.display-title {
  color: #5e6363;
  font-weight: 300;
  border-left: 1px solid #5e6363;
  padding-left: 1rem;
  margin-left: 1rem;
}

section.property-group {
  position: relative;
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  border: none;
}

section article.property {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  border: none;
  display: flex;
  align-items: baseline;
  gap: 8px;
  padding: 8px;
}

section article:nth-child(even) {
  background-color: #f3f3f3;
}

section article:nth-child(odd) {
  background-color: #fff;
}

section article.property > span {
  font-weight: 500;
}

section article.property > span:first-letter {
  text-transform: uppercase;
}

section article.property ul.property-list {
  background: transparent;
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

section article.property ul.property-list li {
  line-height: 1.3em;
  padding: 0;
  background-color: inherit;
}

.property-list li:after {
  content: ", ";
}

.property-list li:last-child:after {
  content: "";
}
