/* $This file is distributed under the terms of the license in LICENSE$ */

@charset "UTF-8";
/* CSS Document */

:root {
  --primary-color: #210d41;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  height: 100%; /* needed for container min-height */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  height: auto !important; /* real browsers */
  height: 100%; /* IE6: treaded as min-height*/
  min-height: 100%; /* real browsers */
  margin: 0 auto;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color) !important;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

#individual-intro span.display-title {
  color: #5e6363;
  font-weight: 300;
  border-left: 1px solid #5e6363;
  padding-left: 1rem;
  margin-left: 1rem;
}

section.property-group {
  position: relative;
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  border: none;
  margin-bottom: 32px;
}

section article.property {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  border: none;
  display: flex;
  align-items: baseline;
  gap: 8px;
  padding: 8px;
}

section article:nth-child(even) {
  background-color: #f3f3f3;
}

section article:nth-child(odd) {
  background-color: #fff;
}

section article.property > span,
.subclass > span {
  font-weight: 500;
}

.subclass {
  width: 100% !important;
}

section article.property > span:first-letter {
  text-transform: uppercase;
}

.first-letter-upper:first-letter {
  text-transform: uppercase !important;
}

section article.property ul.property-list {
  background: transparent;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

section article.property ul.property-list li {
  line-height: 1.3em;
  padding: 0;
  background-color: inherit;
}

section article.property > span:after {
  content: ": ";
}

section ol,
section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.span-label {
  background: #ccc;
  padding: 0 4px;
  border-radius: 4px;
  position: relative;
  top: -0.5em;
  font-size: 90%;
}

ul#individual-hasResearchArea li,
ul#individual-facultyMemberships li {
  list-style: none;
}

.mainPropGroup::first-letter {
  text-transform: uppercase;
}

#individual-intro.person {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

#individual-intro.person #individual-info {
  float: none;
  width: auto;
}

#right-hand-column {
  padding: 0;
  float: none;
  background-color: transparent;
}

#pageEnd-noRangeClass-List,
#pageStart-noRangeClass-List,
#volume-noRangeClass-List,
#freetextKeyword-noRangeClass-List,
#brcrisIdentifier-noRangeClass-List {
  display: flex;
  gap: 8px;
}

#pageEnd-noRangeClass-List li:after,
#pageStart-noRangeClass-List li:after,
#volume-noRangeClass-List li:after,
#freetextKeyword-noRangeClass-List li:after,
#brcrisIdentifier-noRangeClass-List li:after {
  content: ", ";
}

#pageEnd-noRangeClass-List li:last-child:after,
#pageStart-noRangeClass-List li:last-child:after,
#volume-noRangeClass-List li:last-child:after,
#freetextKeyword-noRangeClass-List li:last-child:after,
#brcrisIdentifier-noRangeClass-List li:last-child:after {
  content: "";
}

/* CSS para telas menores que 768px(celulares e tablets pequenos) */
@media only screen and (max-width: 768px) {
  #individual-intro.person {
    flex-direction: column;
  }
  section article.property {
    flex-direction: column;
  }
}
