/* $This file is distributed under the terms of the license in LICENSE$ */

@charset "UTF-8";
/* CSS Document */

/* HEADER */

#individual-intro span.display-title {
     padding-left: 0;  
	 margin: 1em 0;
	 font-weight: bold;

}

#individual-intro.person #individual-info {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.navbar-logo .ibict {
    width: 132px;
    height: auto;
    margin-top: 0.95em;
    margin-left: -0.5px;
}

li.groupTabSpacer, article.property ul.property-list li, article.property ul.property-list, article.property ul.property-list li.subclass h3, #right-hand-column { 
     background-color:inherit;
}


/* TABS */

li.nonSelectedGroupTab, li.selectedGroupTab, .property-group   {
	    
	
	
}
li.nonSelectedGroupTab {
	    
	background: #660B6E;
	border-bottom: 1px solid #660B6E;
	color: #fff;
	
}
li.selectedGroupTab   {
	
	border-bottom-color: #210d41;
	color: #fff;
	background: #210d41;
}
li.groupTabSpacer {
	
	width: inherit !important;
    height: inherit;
	
}

#overview, section.property-group, section.property-group h2 {
    background: #FFF!important;
	color: #513872!important;
	border-top: 10px solid #7F3686;;
}

article.property h3 {
	background: #660B6E;
	color: #fff;
}

article.property ul.property-list li {
}

.address-line:nth-last-child(1) {
	float: none !important;
	padding-right: 0 !important;


}

article.property ul.property-list {
    background: #fff;
    padding-bottom: 0.5em;
    list-style-type: none;
}


/* graficos */

h3.title {
	margin:  1.5em 0 1em;
}

#body {
	
	min-width: inherit;
}
#bodyPannel {
    height: auto;
    max-width: 100%;
}
#chord {
	float: inherit !important;
}

#svg-div {
	margin-bottom: 1em;
}
.tooltip {
	opacity: 100%!important;
}
#chart {
	
	max-width: 100%!important;
	height: inherit!important;
}