
<h2>Equipe</h2>
<div class="outter-dash">
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/washington.png" />
    <h4>Washington Segundo</h4>
    <p><a href="http://lattes.cnpq.br/9453481318889500" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/vivian.png" />
    <h4>Vivian dos Santos Silva</h4>
    <p><a href="http://lattes.cnpq.br/6480849016794725" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/vanessa.png" />
    <h4>Vanessa Jorge</h4>
    <p><a href="http://lattes.cnpq.br/0218139692140149" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/ulisses-argileu.png" />
    <h4>Ulisses Silva</h4>
    <p><a href="http://lattes.cnpq.br/1845547421522138" target="_blank">CV Lattes</a></p>
  </div>
	
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/tiago-alves.png" />
    <h4>Tiago Oliveira</h4>
    <p><a href="http://lattes.cnpq.br/5021181563738789" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/thiago-pereira.png" />
    <h4>Thiago da Nóbrega</h4>
    <p><a href="http://lattes.cnpq.br/5048923517404787" target="_blank">CV Lattes</a></p>
  </div>	
	
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/thiago-magela.png" />
    <h4>Thiago Dias</h4>
    <p><a href="http://lattes.cnpq.br/4687858846001290" target="_blank">CV Lattes</a></p>
  </div>
	
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/tales.png" />
    <h4>Tales Moreira</h4>
    <p><a href="http://lattes.cnpq.br/6579166915730771" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/sergio-antonio.png" />
    <h4>Sergio de Freitas</h4>
    <p><a href="http://lattes.cnpq.br/0395549254894676" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/rene.png" />
    <h4>Rene Junior</h4>
    <p><a href="http://lattes.cnpq.br/5900345665779424" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/renan-rangel.png" />
    <h4>Renan Oliveira</h4>
    <p><a href="http://lattes.cnpq.br/7645668504078091" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/renan-carneiro.png" />
    <h4>Renan Oliveira</h4>
    <p><a href="http://lattes.cnpq.br/7645668504078091" target="_blank">CV Lattes</a></p>
  </div>	
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/raulivan.png" />
    <h4>Raulivan Silva</h4>
    <p><a href="http://lattes.cnpq.br/6465763991846426" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/rafael-ramos.png" />
    <h4>Rafaela Grando</h4>
    <p><a href="http://lattes.cnpq.br/9331747925363529" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/rafaela-lora.png" />
    <h4>Rafael Ramos</h4>
    <p><a href="https://lattes.cnpq.br/3870168115650458" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/priscila-machado.png" />
    <h4>Priscila Sena</h4>
    <p><a href="http://lattes.cnpq.br/0155235005204514" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/patricia.png" />
    <h4>Patricia Neubert</h4>
    <p><a href="http://lattes.cnpq.br/8506732139258131" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/nayara.png" />
    <h4>Nayara Gonzaga</h4>
    <p><a href="http://lattes.cnpq.br/9037144618891265" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/milena.png" />
    <h4>Milena Silva</h4>
    <p><a href="http://lattes.cnpq.br/3773267134438950" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/mateus.png" />
    <h4>Mateus Dias</h4>
    <p><a href="http://lattes.cnpq.br/1703499698942834" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/marco-antonio.png" />
    <h4>Marcos Faria</h4>
    <p><a href="http://lattes.cnpq.br/1599452098018232" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/marcio-ribeiro.png" />
    <h4>Márcio do Amaral</h4>
    <p><a href="http://lattes.cnpq.br/8065700880932257" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/lucca.png" />
    <h4>Lucca Ramalho</h4>
    <p><a href="http://lattes.cnpq.br/6421832972643821" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/luc.png" />
    <h4>Luc Quoniam</h4>
    <p><a href="http://lattes.cnpq.br/4754764003480925" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/liliane.png" />
    <h4>Lillian Alvares</h4>
    <p><a href="http://lattes.cnpq.br/5541636086123721" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/lilian.png" />
    <h4>Liliane Araújo</h4>
    <p><a href="http://lattes.cnpq.br/2108705558593619" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/leonardo.png" />
    <h4>Leonardo Vitoriano</h4>
    <p><a href="http://lattes.cnpq.br/7005579044768503" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/lautaro.png" />
    <h4>Lautaro Matas</h4>
    <p><a href="http://lattes.cnpq.br/6322724400053732" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/jose-edilson.png" />
    <h4>José Filho</h4>
    <p><a href="http://lattes.cnpq.br/3222974341657135" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/joaquim.png" />
    <h4>Joaquim Oliveira</h4>
    <p><a href="https://lattes.cnpq.br/2755165196564044" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/jesus.png" />
    <h4>Jesús Chalco</h4>
    <p><a href="http://lattes.cnpq.br/4727357182510680" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/jesiel.png" />
    <h4>Jesiel Viana</h4>
    <p><a href="http://lattes.cnpq.br/3289893197495423" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/ingrid.png" />
    <h4>Ingrid Pacheco</h4>
    <p><a href="http://lattes.cnpq.br/5797847816206981" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/flavio-roberto.png" />
    <h4>Flávio Silva</h4>
    <p><a href="http://lattes.cnpq.br/4875792884731951" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/fabio.png" />
    <h4>Fabio Canto</h4>
    <p><a href="http://lattes.cnpq.br/5914776544385758" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/daniel.png" />
    <h4>Daniel Lima</h4>
    <p><a href="http://lattes.cnpq.br/2619423058109475" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/andre-luiz.png" />
    <h4>André da Silva</h4>
    <p><a href="http://lattes.cnpq.br/7541182802224042" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/andre-correa.png" />
    <h4>André Lanna</h4>
    <p><a href="http://lattes.cnpq.br/5685720614944773" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/adilson-pinto.png" />
    <h4>Adilson Luiz Pinto</h4>
    <p><a href="http://lattes.cnpq.br/4767432940301118" target="_blank">CV Lattes</a></p>
  </div>
  <div class="bloco-team"> <img src="${urls.theme}/images/equipe/adilson-luis.png" />
    <h4>Adilson Luiz Pinto</h4>
    <p><a href="http://lattes.cnpq.br/4767432940301118" target="_blank">CV Lattes</a></p>
  </div>	
</div>
