<#-- $This file is distributed under the terms of the license in LICENSE$ -->
<header id="branding" role="banner">


<div class="logos">
	<a  href="http://codich1.ibict.br:8086/"><img src="${urls.theme}/images/logo-brcris-pb2.png" class="logo-brcris" title="${i18n().identity_title}" /></a>

	<a  href="https://www.gov.br/ibict/pt-br" target="_blank"><img src="${urls.theme}/images/logoIbict.png" class="logo-ibict"/></a>
</div>

<#-- Since we are using a graphic text for the tagline, we won't render ${siteTagline}
    <#if siteTagline?has_content> <em>${siteTagline}</em> </#if>-->
    <div class="collapse navbar-collapse" id="navbarNav">
  <div class="navbar-nav me-auto mb-2 mb-lg-0"></div>
  <ul class="navbar-nav nav nav-tabs me-2" role="tablist">
        <li class="nav-item me-5" role="presentation"><a class="nav-link" href="http://codich1.ibict.br:8086/">${i18n().brcris_home }</a></li>
        <li class="nav-item me-5" role="presentation"><a class="nav-link" href="${urls.base}/dashboards">${i18n().dashboards}</a></li>
        <li class="nav-item me-5" role="presentation"><a class="nav-link" href="${urls.base}/team">${i18n().team}</a></li>
        <li class="nav-item me-5" role="presentation"><a class="nav-link" href="${urls.base}/about">${i18n().about_brcris}</a></li>
	<li class="nav-item me-5" role="presentation"><a class="nav-link" href="http://codich1.ibict.br:8086/contact">${i18n().brcris_contact}</a></li>
	
	<li class="nav-item me-5" role="presentation"><div class="Dropdown_dropdown__kXFHw"><div class="Dropdown_flexCenter__4gAzT">
    <a href="#" class="nav-link kkk">${i18n().lang_menu_en}<svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-tj5bde-Svg"><path fill="#fff" d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg></a></div><div class="Dropdown_dropdownContent__5gxWP"><a href="${urls.base}/selectLocale?selection=en_US">${i18n().lang_menu_en}</a><a href="${urls.base}/selectLocale?selection=pt_BR">${i18n().lang_menu_pt}</a></div></div></li></a></li>
	
	
   </ul>
<#--  
  <ul class="navbar-nav">
        <li class="nav-item">
      <button class="navbar-btn btn-picti">PICTI2</button>
    </li>
        <li class="nav-item">
      <button class="navbar-btn btn-api mx-2">API</button>
    </li>
        <li class="nav-item">
      <button class="navbar-btn btn-lorem">LOREM</button>
    </li>
      </ul>
-->	  
</div>
