   <div class="outter-dash">
  <div class="bloco-dash">
	<h4>Patentes</h4>
	  <a href="#"><img src="${urls.theme}/images/patentes.png" /></a>
	  <p>Ut non accumsan velit, et aliquet lorem. Nunc volutpat metus non lobortis placerat. Curabitur at posuere sapien, non gravida lectus.</p>
	</div>
  <div class="bloco-dash">
	<h4>Grupos de pesquisa</h4>
	<a href="#"><img src="${urls.theme}/images/grupo-pesquisa.png" /></a>
	<p>Ut non accumsan velit, et aliquet lorem. Nunc volutpat metus non lobortis placerat. Curabitur at posuere sapien, non gravida lectus.</p>
	</div>
  <div class="bloco-dash">
	<h4>Teses e dissertações</h4>
	<a href="#"><img src="${urls.theme}/images/tese.png" /></a>
	<p>Ut non accumsan velit, et aliquet lorem. Nunc volutpat metus non lobortis placerat. Curabitur at posuere sapien, non gravida lectus.</p>
	</div>
  <div class="bloco-dash">
	<h4>Publicações</h4>
	<a href="#"><img src="${urls.theme}/images/publi.png" /></a>
	<p>Ut non accumsan velit, et aliquet lorem. Nunc volutpat metus non lobortis placerat. Curabitur at posuere sapien, non gravida lectus.</p>
	</div>
  <div class="bloco-dash">
	<h4>Revistas</h4>
	<a href="#"><img src="${urls.theme}/images/revistas.png" /></a>
	<p>Ut non accumsan velit, et aliquet lorem. Nunc volutpat metus non lobortis placerat. Curabitur at posuere sapien, non gravida lectus.</p>
	</div>
  <div class="bloco-dash">
	<h4>Software</h4>
	<a href="#"><img src="${urls.theme}/images/soft.png" /></a>
	<p>Ut non accumsan velit, et aliquet lorem. Nunc volutpat metus non lobortis placerat. Curabitur at posuere sapien, non gravida lectus.</p>
	</div>
</div>

