body {
  font-family: 'Open Sans', sans-serif;
}
.title-holder {
  text-align: left;
}
.title {
  font-family: 'Lato', sans-serif;
}
.font {
  font-size: 18px;
}

.note {
  text-align: center;
}

/* legend */
.legend {
  font-size: 13px;
}
rect {
  cursor: pointer; 
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}

/* chart */
#chart {
  height: 600px;
  margin: 0 auto;
  position: relative;
  display: block;
  width: 1200px;
}

/* tooltip */
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 14px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  z-index: 10;
}
