name: Deploy

on:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  deploy-dev:
    runs-on: [self-hosted, linux, x64, dev]
    env:
      ENVIRONMENT: DEV
    environment:
      name: DEV
      url: 'http://codich1.ibict.br:8086'
    
    steps:
      - uses: actions/checkout@v3
        with:
          clean: false
      - run: |
          echo '${{ secrets.SUDO_PASSWORD }}' | sudo -S sh deploy.sh